@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (Model.IsLoggedIn)
    {
        <p><a href="https://github.com/rnwood/smtp4dev">Install Dev 4 SMTP</a>.</p>
        <p>Docker docker run --rm -it -p 3000:80 -p 2525:25 rnwood/smtp4dev</p>
    }
    else
    {
        <div class="container">
            <div class="content-wrapper">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 class="display-4">@Model.Message</h1>
                        <div class="embed-responsive embed-responsive-16by9">
                            <p>You need to be logged in to see this content.</p>
                        </div>
                        <a href="/login" class="btn btn-primary mt-4 huge-login-button">Login</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
