@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://github.com/rnwood/smtp4dev">Install Dev 4 SMTP</a>.</p>
    <p>Docker docker run --rm -it -p 3000:80 -p 2525:25 rnwood/smtp4dev</p>
</div>
