@page
@model SessionFinalProject.Pages.Shared.LogoutModel
@{
}
<h1>Logout</h1>

<div>
    <p>Welcome, @Model.Email</p>
</div>

<form method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
