@page
@model SessionFinalProject.Pages.SignupModel
@{
}

@if(Model.Message != null)
{
    <div class="text-danger">@Model.Message</div>
}

<h1>Sign up on out site!</h1>

<form method="post">
   
    <input type="email" name="email" placeholder="email address"/>
    <button type="submit">Sign up</button>

</form>